# MacOS
.DS_Store

# Ignore byte-compiled files
__pycache__/
*.py[cod]

# Ignore generated documentation
docs/_build
docs/_static
docs/_templates
docs/*.rst

# But keep sphinx core files
!docs/index.rst
!docs/conf.py
!docs/Makefile
!docs/make.bat
!docs/README.md

# Jupyter notebook
.ipynb_checkpoints

# Spyder project settings
.spyproject
