.DS_Store

# Ignore pycached files
hypro/__pycache__/

# Ignore generated documentation
docs/_build
docs/_static
docs/_templates
docs/*.rst

# But keep sphinx core files
!docs/index.rst
!docs/conf.py
!docs/Makefile
!docs/make.bat
!docs/README.md
